/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



/* Ensure no border or outline is applied */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000; /* Change this to match your theme */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  
    monospace;
}

/* Custom classes */
.btn {
  @apply bg-gray-800 bg-opacity-30 text-white font-semibold py-2 px-4 rounded shadow hover:bg-opacity-50 transition duration-300;
}

.btn-menu {
  @apply inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-opacity-30 bg-gray-800 text-white text-sm font-medium hover:bg-opacity-50 focus:outline-none;
}

.dropdown {
  @apply origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-gray-800 bg-opacity-90 ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.dropdown-link {
  @apply block px-4 py-2 text-sm text-white hover:bg-gray-700;
}

.video-background {
  @apply absolute w-full h-full object-cover;
  filter: blur(8px);
  z-index: -1;
}

.hero-heading {
  @apply text-5xl font-bold text-white mb-4 font-sans;
}

.hero-subheading {
  @apply text-xl text-white mb-8;
}

.rounded-bottom {
  border-radius: 0 0 40px 40px; /* Adjust values as needed */
  background-color: rgba(0, 0, 0, 0.3); /* Darker background for border */
  border: none; /* No white border */
}